<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.myapp.community.repository.CommunityLikesMapper">
    <insert id="increaseLike">
        INSERT INTO community_likes (community_id, user_id, created_at)
        VALUES (#{id}, #{userId}, #{createdAt})
    </insert>

    <delete id="decreaseLike">
        DELETE FROM community_likes
        WHERE community_id = #{id} AND user_id = #{userId}
    </delete>

    <select id="checkLikes" parameterType="map" resultType="Integer">
        SELECT user_id
        FROM community_likes
        WHERE community_id = #{id} AND user_id = #{userId}
    </select>

    <select id="countLikes" resultType="Integer">
        SELECT COUNT(user_id)
        FROM community_likes
        WHERE community_id = #{id}
    </select>

</mapper>