<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.myapp.cart.repository.CartMapper">

    <select id="findCartByUserId" resultType="com.spring.myapp.cart.model.Cart">
        SELECT * FROM cart WHERE user_id = #{userId}
    </select>

    <insert id="insertCart" useGeneratedKeys="true" keyProperty="cartId">
        INSERT INTO cart (user_id, created_at) VALUES (#{userId}, NOW())
    </insert>

</mapper>
