<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.myapp.cart.repository.CartItemMapper">


    <insert id="insertCartItem" useGeneratedKeys="true" keyProperty="cartItemId">
        INSERT INTO cart_items (cart_id, product_id, quantity, created_at)
        VALUES (#{cartId}, #{productId}, #{quantity}, NOW())
    </insert>

<!--    <select id="findCartItemsByCartId" resultType="com.spring.myapp.cart.model.CartItem">-->
<!--        SELECT ci.*, p.*, c.*-->
<!--        FROM cart_items ci-->
<!--        JOIN products p ON ci.product_id = p.product_id-->
<!--        JOIN cart c ON ci.cart_id = c.cart_id-->
<!--        WHERE ci.cart_id = #{cartId}-->
<!--    </select>-->
    <select id="findCartItemsByCartId" resultType="com.spring.myapp.cart.model.CartItem">
        SELECT
        ci.cart_item_id AS cartItemId,
        ci.cart_id AS cartId,
        ci.product_id AS productId,
        ci.quantity,
        ci.created_at AS createdAt,
        ci.updated_at AS updatedAt,
        p.price,
        p.discount_rate AS discountRate,
        p.name,
        pi.image_url AS imageUrl,
        c.user_id AS userId
        FROM
        cart_items ci
        JOIN
        cart c ON ci.cart_id = c.cart_id
        JOIN
        products p ON ci.product_id = p.product_id
        LEFT JOIN
        product_images pi ON p.product_id = pi.product_id AND pi.is_main_image = 1
        WHERE
        ci.cart_id = #{cartId}
    </select>

</mapper>
