<mapper namespace="com.spring.myapp.product.dao.ProductMapper">
    <resultMap id="ProductResultMap" type="com.spring.myapp.product.model.Product">
        <id property="productId" column="product_id"/>
        <result property="name" column="name"/>
        <result property="description" column="description"/>
        <result property="price" column="price"/>
        <result property="stock" column="stock"/>
        <result property="content" column="content"/>
        <result property="discountRate" column="discount_rate"/>
        <result property="isDeleted" column="is_deleted"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="categoryId" column="category_id"/>
    </resultMap>

    <select id="findAll" resultMap="ProductResultMap">
        SELECT * FROM products
    </select>

    <select id="findById" resultMap="ProductResultMap">
        SELECT * FROM products WHERE product_id = #{productId}
    </select>

    <insert id="save" parameterType="com.spring.myapp.product.model.Product">
        INSERT INTO products ( name, description, price, stock, content, discount_rate, is_deleted, created_at, updated_at, category_id)
        VALUES (#{name}, #{description}, #{price}, #{stock}, #{content}, #{discountRate}, #{isDeleted}, #{createdAt}, #{updatedAt}, #{categoryId})
    </insert>

    <update id="update">
        UPDATE products
        SET name = #{name},
        description = #{description},
        price = #{price},
        stock = #{stock},
        content = #{content},
        discount_rate = #{discountRate},
        is_deleted = #{isDeleted},
        created_at = #{createdAt},
        updated_at = #{updatedAt},
        category_id = #{categoryId}
        WHERE product_id = #{productId}
    </update>

    <delete id="deleteById">
        DELETE FROM products WHERE product_id = #{productId}
    </delete>
</mapper>
