<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.spring.myapp.informationBoard.repository.InfoCommentsMapper">

    <resultMap id="infoCommentResultMap" type="com.spring.myapp.informationBoard.model.Comments">
        <id property="commentId" column="comment_id"/>
        <id property="infoId" column="info_id"/>
        <id property="userId" column="user_id"/>
        <id property="parentCommentId" column="parent_comment_id"/>
        <result property="content" column="content"/>
        <result property="createdAt" column="created_at"/>
        <result property="updatedAt" column="updated_at"/>
        <result property="isDeleted" column="is_deleted"/>
        <association property="nickname" column="user_id"
                     select="findUserForComment"/>
    </resultMap>

    <select id="findUserForComment" resultType="string">
        SELECT u.nickname
        FROM users u
        WHERE u.user_id = #{user_id}
    </select>

    <select id="getAllComments" resultMap="infoCommentResultMap">
        SELECT * FROM info_comments
        WHERE info_id = #{infoId} AND is_deleted = 0 AND parent_comment_id is null
        ORDER BY created_at ASC
    </select>

    <insert id="writeNewComment" useGeneratedKeys="true" keyProperty="commentId" keyColumn="comment_id">
        INSERT INTO info_comments (comment_id, info_id, user_id, content, parent_comment_id, created_at, updated_at,
        is_deleted)
        VALUES (#{commentId}, #{infoId}, #{userId}, #{content}, #{parentCommentId}, #{createdAt}, #{updatedAt},
        #{isDeleted})
    </insert>

    <select id="getCommentById" resultMap="infoCommentResultMap">
        SELECT *
        FROM info_comments
        WHERE comment_id = #{commentId}
    </select>

    <select id="getRepliesById" resultMap="infoCommentResultMap">
        SELECT *
        FROM info_comments
        WHERE parent_comment_id = #{commentId} AND is_deleted = 0
    </select>

    <update id="deleteComment">
        UPDATE info_comments
        SET is_deleted = 1
        WHERE comment_id = #{commentId} AND parent_comment_id = #{commentId}
    </update>
    <!--    <update id="updateComment">-->
    <!--        UPDATE comments-->
    <!--        SET content = #{content}, updated_at = #{updatedAt}-->
    <!--        WHERE comment_id = #{commentId}-->
    <!--    </update>-->

    <!--    <update id="deleteComment">-->
    <!--        UPDATE comments-->
    <!--        SET is_deleted = TRUE-->
    <!--        WHERE comment_id = #{commentId}-->
    <!--    </update>-->

    <!--    <select id="selectRepliesByParentCommentId" resultType="com.spring.myapp.informationBoard.model.Comments">-->
    <!--        SELECT * FROM comments-->
    <!--        WHERE parent_comment_id = #{parentCommentId} AND is_deleted = FALSE-->
    <!--        ORDER BY created_at ASC-->
    <!--    </select>-->
</mapper>