<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.myapp.routineBoard.repository.RoutineShareMapper">

    <resultMap id="RoutineShareResultMap" type="com.spring.myapp.routineBoard.model.RoutineShare">
        <id column="share_id" property="shareId"/>
        <result column="routine_id" property="routineId"/>
        <result column="user_id" property="userId"/>
        <result column="shared_at" property="sharedAt"/>
    </resultMap>

    <insert id="insertShare" parameterType="com.spring.myapp.routineBoard.model.RoutineShare">
        INSERT INTO routine_shares (routine_id, user_id, shared_at)
        VALUES (#{routineId}, #{userId}, #{sharedAt})
    </insert>

    <select id="findSharedRoutinesByUserId" resultType="com.spring.myapp.routineBoard.model.RoutineBoard">
        SELECT rb.*
        FROM routine_shares rs
        JOIN routines rb ON rs.routine_id = rb.routine_id
        WHERE rs.user_id = #{userId}
    </select>

    <delete id="deleteShare" parameterType="map">
        DELETE FROM routine_shares WHERE routine_id = #{routineId} AND user_id = #{userId}
    </delete>

    <select id="isShared" resultType="boolean">
        SELECT COUNT(*) > 0 FROM routine_shares WHERE routine_id = #{routineId} AND user_id = #{userId}
    </select>

    <select id="countByRoutineId" resultType="int">
        SELECT COUNT(*) FROM routine_shares WHERE routine_id = #{routineId}
    </select>

</mapper>